<div class="wrapper">

    {{! This is the post loop - each post will be output using this markup }}
    {{#foreach posts}}
    <div class="row">
        <div class="columns large-12">
            <header><h2 class="title"><a class="link" href="{{url}}">{{{title}}}</a></h2></header>

            <section class="post-excerpt">
                <p>{{excerpt words="26"}} <a class="read-more link" href="{{url}}">&raquo;</a></p>
            </section>

            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}

            <footer class="post-footer box">
                {{#if image}}
                    <img class="author-thumb" src="{{image}}" alt="Author image" nopin="nopin" />
                {{/if}}
                <a class="link" href="{{url}}">{{name}}</a>
                <time datetime="{{date format='YYYY-MM-DD'}}"> published this article on {{date format="DD MMMM YYYY"}}</time>
            </footer>
    
            {{/author}}

        </div>
    </div>
    {{/foreach}}

</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
