<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}} | Life Awesome Blog</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Favicon }}
    <link rel="shortcut icon" href="{{asset "images/fav.png"}}">

    {{! Style collection }}
    <link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Raleway:200,600" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/foundation.min.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/foundation-icons.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/reset.min.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/blog.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <!-- Header -->
    <div id="header">
        <div class="logo"></div>
        <div class="link">
            <nav>
                <ul>
                    <li><a class="link" href="{{@blog.url}}" title="Life Awesome Blog homepage">blog</a></li>
                    <li><a class="link" href="https://twitter.com/lifeaweso_me" title="Follow Life Awesome on Twitter" target="_blank">@lifeaweso_me</a></li>
                    <li><a class="link" href="https://twitter.com/_danielep_" title="Follow Daniele Petrarolo on Twitter" target="_blank">@_danielep_</a></li>
                    <li><a class="link" href="https://twitter.com/Trip314" title="follow Alen Subat on Twitter" target="_blank">@trip314</a></li>
                    <li><a class="link" href="{{@blog.url}}/rss/"><i class="fi-rss"></i> rss</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Footer partial }}
    {{> footer}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files for Ghostology }}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/libs/jquery.easing.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/libs/jquery.scrollTo.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>